@model Logic.DataTransferObjects.EditBrand

@{
    ViewData["Title"] = "EditBrand";
    Layout = "~/Areas/Identity/Pages/Account/_IdentityLayout.cshtml";
}

<h1>EditBrand</h1>

<h4>EditBrand</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditBrand">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @{
                if (Model.Descriptions.Any())
                {
                    foreach (var item in @Model.Descriptions)
                    {
                        <div class="form-group">
                            <label class="control-label">Opis: @item.Language.ToString()</label>
                            <p>@item.Text</p>
                            <small>
                                <a asp-controller="Admin" asp-route-guid="@item.Id" asp-action="EditBrandDescription">Edytuj opis</a> | 
                                Utworzono: @item.CreationDate | Edytowano: @item.EditDate
                            </small>
                        </div>
                    }
                }
            }
            <div class="form-group">
                <a asp-controller="Admin" 
                   asp-action="CreateDescription" 
                   asp-route-guid="@Model.Id"
                   class="btn btn-success">Dodaj opis</a>
            </div>
            <div class="form-group">
                <span>Utowrzono: @Model.CreationDate | Edytowano: @Model.EditDate</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

