@using Data.Enums
@using Microsoft.AspNetCore.Http
@model Logic.DataTransferObjects.ProductViewModel

@{
    ViewBag.Title = "@Model.Name";
    Layout = "_Layout";
    var language = Language.English;
}

<section class="section-cover section-t8">
    <div class="container">
        <div class="row">
            <div class="col-sm-12  mt-4">
                <div class="about-img-box">
                    <img src="data:@Model.Image.FileMimeType;base64,@System.Convert.ToBase64String(Model.Image.FileData)"
                         alt="@Model.Name cover image"
                         class="img-fluid">
                </div>
                <div class="sinse-box">
                    <h3 class="sinse-title">
                        @Model.Name
                        <span></span>
                        <br>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="col-md-12 section-t4">
            <div class="row">
                @*<div class="col-md-6 col-lg-6">
                    <img src="data:@Model.Images.FirstOrDefault(i => i.Type == Data.Enums.AttachmentType.Main).FileMimeType;base64,@System.Convert.ToBase64String(Model.Images.FirstOrDefault(i => i.Type == Data.Enums.AttachmentType.Main).FileData)"
                         alt="@Model.Name main image"
                         class="img-fluid mb-3"
                         style="object-fit: cover;">
                </div>*@
                @*<div class="col-lg-2  d-none d-lg-block">
                        <div class="title-vertical d-flex justify-content-start">
                            <span>Exclusive content</span>
                        </div>
                    </div>*@
                <div class="col-md-12 col-lg-12">
                    @*<div class="title-box-d">
                        <h3 class="title-d">
                            Szczegóły
                        </h3>
                    </div>*@
                    <div class="color-text-a">
                        @if (@Model.Descriptions.Any(d => d.Language == language))
                        {
                            @Html.Raw(@Model.Descriptions
                                .FirstOrDefault(d => d.Language == language)?
                                .Text)
                        }
                        else
                        {
                            @Html.Raw(@Model.Descriptions
                                .FirstOrDefault(d => d.Language == Data.Enums.Language.English)?
                                .Text)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">@*Tutaj będzie partial z logo svg brandu*@</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Brand"
                               asp-action="Details"
                               asp-route-name="@Model.BrandName">@Model.BrandName</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.Name
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>