@model IEnumerable<Data.Models.Product>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img width="140px" src="data:@item.Image.FileMimeType;base64,@System.Convert.ToBase64String(item.Image.FileData)" alt="@item.Image.Description" class="img-fluid">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditDate)
            </td>
            <td>
                <a asp-action="EditProduct" asp-route-guid="@item.Id">Edit</a> |
                <a asp-controller="Product" asp-action="Details" asp-route-guid="@item.Id">Details</a> |
                <a asp-action="DeleteProduct" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
