@using Logic.Extensions
@using Microsoft.AspNetCore.Http
@model Logic.DataTransferObjects.BrandViewModel

@{
    ViewBag.Title = "@Model.Name";
    Layout = "_Layout";
    var language = LanguageExtension.GetLanguage(
        Context.Session.GetString(LanguageExtension.SessionLanguageKey())
        );
}

<section class="section-cover section-t8">
    <div class="container">
        <div class="row">
            <div class="col-sm-12  mt-4">
                <div class="about-img-box">
                    <img src="data:@Model.Cover.FileMimeType;base64,@System.Convert.ToBase64String(Model.Cover.FileData)"
                         alt="@Model.Name cover image"
                         class="img-fluid">
                </div>
                <div class="sinse-box">
                    <h3 class="sinse-title">
                        @Model.Name
                        <span></span>
                        <br>
                    </h3>
                    @*<p>Z nami od @Model.CreationDate.Year</p>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="col-md-12 section-t4">
            <div class="row">
                @*<div class="col-md-6 col-lg-6">
                        <img src="data:@Model.Images.FirstOrDefault(i => i.Type == Data.Enums.AttachmentType.Main).FileMimeType;base64,@System.Convert.ToBase64String(Model.Images.FirstOrDefault(i => i.Type == Data.Enums.AttachmentType.Main).FileData)"
                             alt="@Model.Name main image"
                             class="img-fluid mb-3"
                             style="object-fit: cover;">
                    </div>*@
                @*<div class="col-lg-2  d-none d-lg-block">
                        <div class="title-vertical d-flex justify-content-start">
                            <span>Exclusive content</span>
                        </div>
                    </div>*@
                <div class="col-md-12 col-lg-12">
                    @*<div class="title-box-d">
                            <h3 class="title-d">
                                Szczegóły
                            </h3>
                        </div>*@
                    <div class="color-text-a">
                        @if (@Model.Descriptions.Any(d => d.Language == language))
                        {
                            @Html.Raw(@Model.Descriptions
                                 .FirstOrDefault(d => d.Language == language)?
                                 .Text)
                        }
                        else
                        {
                            @Html.Raw(@Model.Descriptions
                                .FirstOrDefault(d => d.Language == Data.Enums.Language.English)?
                                .Text)
                        }
                    </div>
                    <div class="section-t3">
                        <ul class="list-unstyled">
                            @foreach (var media in Model.Medias)
                            {
                                <li class="item-list-a">
                                    <a href='https://@media.Link' target="_blank"><i class="fa fa-@media.Type.ToString()"></i> @media.Link</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@if (Model.Products != null && Model.Products.Count > 0)
{
    @await Html.PartialAsync("~/Views/Brand/Partials/_BrandProducts.cshtml", Model.Products.ToList());
}
@await Html.PartialAsync("~/Views/Home/Partials/_Contact.cshtml");
@section Scripts {
    <script src="~/js/brand.js" defer></script>
}